asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
Django==6.0.4
django-storages[azure]==1.14.4
gunicorn==22.0.0
idna==3.18
mysqlclient==2.2.4
numpy==2.4.6
pillow==12.2.0
python-dotenv==1.2.2
rank-bm25==0.2.2
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
whitenoise==6.7.0
